body{
    width: 90%;
    margin: 0 auto 3%;
}
.col3{
column-count: 3;
}

img{
width: 100%;
}

p{
    text-align: center;
    margin: 4% 3%;
}
.border{
    border: 1px solid rgb(179, 179, 179);
    margin-bottom: 5%;
}

.border:hover{
    color: green;
    border: 1px solid black;
}
h1{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.5%;
    border-bottom: 1px solid darkgrey;
    width: 23%;
    margin: 2% auto;
}

@media only screen and (max-width:690px){
    h1{
        font-size: 1.2em;
    }
}